<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fa-np-tl-interviewai-staging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/904cfefb-e801-4fce-8977-bbc63b6117f8/resourceGroups/rg-np-tl-interview-ai/providers/Microsoft.Web/sites/fa-np-tl-interviewai-staging</ResourceId>
    <UserName>$fa-np-tl-interviewai-staging</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://fa-np-tl-interviewai-staging.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>